/*CSS Stylesheet*/

/** {border: 1px solid black;}*/

body {
    margin: 0; 
    margin-top: 100px;
    font-size: 18px;
    line-height: 22px;
    font-family: sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    align-content: center

}
#wrapper {
    margin: 0;
    margin-top: 100px;
    margin-bottom: 100px;
    align-content: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}
.code {
    padding: 16px;
    border: 1px solid #333;
    background-color: #999;
    font-family: 'Courier', monospace;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    padding: 10px;
}

img {
    padding: 10px;
    align-content: center;
}

footer {
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}
